<div class="row">
  <div class='col-xs-12'>

    <%= form_for @new_person, url: camping_group_people_path(@camping_group) do |f| %>
        <div class="row">
          <div class='col-xs-12 form-group <%= 'has-error' if @new_person.errors['first_name'].present? %>'>
            <%= f.label :first_name, class: 'control-label' %>
            <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            <span class="help-block"><%= @new_person.errors['first_name'].join(', ') %></span>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12 form-group <%= 'has-error' if @new_person.errors['last_name'].present? %>'>
            <%= f.label :last_name, class: 'control-label' %>
            <%= f.text_field :last_name, class: 'form-control' %>
            <span class="help-block"><%= @new_person.errors['last_name'].join(', ') %></span>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12 form-group <%= 'has-error' if @new_person.errors['document_number'].present? %>'>
            <%= f.label :document_number, class: 'control-label' %>
            <%= f.text_field :document_number, class: 'form-control' %>
            <span class="help-block"><%= @new_person.errors['document_number'].join(', ') %></span>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12 form-group <%= 'has-error' if @new_person.errors['phone'].present? %>'>
            <%= f.label :phone, class: 'control-label' %>
            <%= f.text_field :phone, class: 'form-control' %>
            <span class="help-block"><%= @new_person.errors['phone'].join(', ') %></span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <%= f.submit t('general.buttons.save'), class: 'btn btn-success' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
