<div class="row">
  <div class="col-xs-12 swarga-header">
    <h4><%= list_title %></h4>
    <% if camping_groups.empty? %>
        <span class="no-data"><%= t('camping_groups.index.empty_message') %></span>
    <% else %>
        <table class="table">
          <th><%= CampingGroup.human_attribute_name(:tent_numbers) %></th>
          <th><%= CampingGroup.human_attribute_name(:status) %></th>
          <th><%= t('camping_groups.index.people') %></th>
          <th><%= CampingGroup.human_attribute_name(:price_total) %></th>
          <th><%= CampingGroup.human_attribute_name(:end_date) %></th>
          <th><%= t('camping_groups.index.nights') %></th>
          <th>#</th>
          <tbody>
          <% camping_groups.each do |camping_group| %>
              <tr class='<%= 'not-paid-leaving' if camping_group.unpaid_leaving? %>'>
                <td><%= link_to camping_group.tent_numbers.join(', '), camping_group_path(camping_group) %></td>

                <td><%= t("activerecord.attributes.camping_group.enum.status.#{camping_group.status}") %></td>
                <td><%= camping_group.people.pluck(:full_name).join(', ') %></td>
                <td><%= number_to_currency(camping_group.calculated_total) %></td>
                <td><%= l(camping_group.end_date) %></td>
                <td><%= camping_group.qty_nights %></td>
                <td>
                  <%= link_to edit_camping_group_path(camping_group) do %>
                      <i class="fa fa-pencil"></i>
                  <% end %>
                  <%= link_to camping_group_path(camping_group) do %>
                      <i class="fa fa-eye"></i>
                  <% end %>
                  <% if camping_group.reserved? %>
                      <%= link_to pay_it_camping_group_path(camping_group), method: :patch do %>
                          <i class="fa fa-credit-card"></i>
                      <% end %>
                  <% end %>
                  <% unless camping_group.left? %>
                      <%= link_to mark_exit_camping_group_path(camping_group), method: :patch do %>
                          <i class="fa fa-power-off"></i>
                      <% end %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
          <tfoot>
            <%= "Valor total: #{number_to_currency(camping_groups.sum(&:calculated_total))}" %>
          </tfoot>
        </table>
    <% end %>
  </div>
</div>
