<div class="row">
  <div class='col-xs-12 form-group <%= 'has-error' if @camping_group.errors[:tent_number].present? %>'>
    <%= f.label :tent_numbers, class: 'control-label' %>
    <%= f.text_field :tent_numbers, autofocus: true, class: 'form-control' %>
    <span class="help-block"><%= @camping_group.errors[:tent_number].join(', ') %></span>
  </div>
</div>

<div class="row">
  <div class='col-xs-12 form-group <%= 'has-error' if @camping_group.errors[:start_date].present? %>'>
    <%= f.label :start_date, class: 'control-label' %>
    <%= f.date_field :start_date, class: 'form-control' %>
    <span class="help-block"><%= @camping_group.errors[:start_date].join(', ') %></span>
  </div>
</div>

<div class="row">
  <div class='col-xs-12 form-group <%= 'has-error' if @camping_group.errors[:end_date].present? %>'>
    <%= f.label :end_date, class: 'control-label' %>
    <%= f.date_field :end_date, class: 'form-control' %>
    <span class="help-block"><%= @camping_group.errors[:end_date].join(', ') %></span>
  </div>
</div>

<div class="row">
  <div class='col-xs-12 form-group'>
    <%= f.label :price_per_person, class: 'control-label' %>
    <%= f.text_field :price_per_person, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class='col-xs-12 form-group'>
    <%= f.label :price_total, class: 'control-label' %>
    <%= f.text_field :price_total, class: 'form-control' %>
  </div>
</div>
