<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 swarga-header">
      <h1><%= t('camping_groups.edit.title') %></h1>
    </div>
  </div>

  <%= form_for @camping_group, url: camping_group_path(@camping_group), method: :put do |f| %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 swarga-header">
          <h2><%= t('camping_groups.new.main_form.title') %></h2>
          <%= render 'form', f: f %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= f.submit class: 'btn btn-success' %>
        </div>
      </div>
  <% end %>
</div>
