<div class="container">
  <div class="row botton-spaced-component">
    <%= form_tag camping_groups_path, method: :get, class: 'form-group' do %>
      <span class="col-xs-5">
        <%= text_field_tag :search_term, params[:search_term], placeholder: t('edit.search.placeholder'), class: 'col-xs-5 form-control' %>
      </span>
      <span class="col-xs-2">
        <%= submit_tag t('general.search'), class: 'btn btn-primary' %>
      </span>
      <span class="col-xs-5">
        <%= link_to t('camping_groups.new.title'), new_camping_group_path, class: 'btn btn-sm btn-primary botton-spaced-component pull-right' %>
      </span>
    <% end %>
  </div>

  <div class="list-table">
    <%= render 'camping_groups_list', camping_groups: @last_day_camping_groups, list_title: t('camping_groups.index.leaving_today.title', value: @last_day_camping_groups.size) %>
  </div>

  <div class="list-table">
    <%= render 'camping_groups_list', camping_groups: @reserved_camping_groups, list_title: t('camping_groups.index.reserved.title', value: @reserved_camping_groups.size) %>
  </div>

  <div class="list-table">
    <%= render 'camping_groups_list', camping_groups: @paid_camping_groups, list_title: t('camping_groups.index.paid.title', value: @paid_camping_groups.size) %>
  </div>

  <div class="list-table">
    <%= render 'camping_groups_list', camping_groups: @left_camping_groups, list_title: t('camping_groups.index.left.title', value: @left_camping_groups.size) %>
  </div>
</div>
