<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 swarga-form">
      <h1><%= t('camping_groups.show.title') %></h1>
      <span><%= link_to '< Voltar', camping_groups_path %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 swarga-form">
      <h2><%= t('people.index.title') %></h2>
      <table class="table">
        <th><%= Person.human_attribute_name(:full_name) %></th>
        <th><%= Person.human_attribute_name(:document_number) %></th>
        <th><%= Person.human_attribute_name(:phone) %></th>
        <tbody>
        <% @camping_group.people.each do |person| %>
          <tr>
            <td><%= person.full_name %></td>
            <td><%= person.document_number %></td>
            <td><%= person.phone %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to t('people.new.title'), new_camping_group_person_path(@camping_group), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 swarga-form">
      <h2><%= t('vehicles.index.title') %></h2>
      <table class="table">
        <th><%= Vehicle.human_attribute_name(:license_plate) %></th>
        <th><%= Vehicle.human_attribute_name(:vehicle_type) %></th>
        <tbody>
        <% @camping_group.vehicles.each do |vehicle| %>
            <tr>
              <td><%= vehicle.license_plate %></td>
              <td><%= t("activerecord.attributes.vehicle.enums.vehicle_types.#{vehicle.vehicle_type}") %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to t('vehicles.new.title'), new_camping_group_vehicle_path(@camping_group), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
</div>
